.app {
  background-color: black;
  color: white;
}
.app h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}
*{
  margin: 0%;
}
.app__body {
  display: flex;
}
.app p {
  text-align: center;
  font-weight: bolder;
}
@media (max-width: 700px) {
  .app h1 {
    font-size: 21px;
    text-align: center;
  }
  .app__body {
    display: grid;
    place-items: center;
  }
  .app p {
    font-size: 13px;
  }
}

@media (min-width: 1400px) {
  .app {
    margin: 0 auto;
    width: 1400px;
  }
}
